.box {
  border: 1px solid rgba(229, 229, 229, 0.5);
  background-color: white;
  .title {
    background-color: #c4c4c4;
    padding: 20px;
    font-size: 18px;
  }
  .content {
    padding: 20px;
    .label {
      color: rgba(115, 115, 115, 0.7);
    }
  }
}

.viewMore {
  text-align: right;
  text-decoration-line: underline;
  color: #004684;
  font-size: 12px;
  &:hover {
    transition: all 0.3s;
    opacity: 0.5;
    cursor: pointer;
  }
}

.items {
  padding: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(115, 115, 115, 0.1);
  }
}
.statistic {
  padding: 20px;
}

.label {
  color: rgba(115, 115, 115, 0.7);
  display: block;
  position: relative;
  &::after {
    display: inline-block;
    position: absolute;
    content: ':';
    top: 0;
    right: 0;
  }
}

.redirect {
  padding: 20px;
  color: rgba(115, 115, 115, 0.7);
  .link {
    text-decoration: underline;
    color: #004684;
    text-transform: uppercase;
    margin: 0 5px;
    &:hover {
      opacity: 0.5;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
}

.loadMore {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storeContent {
  padding: 5px 15px;
}

.modalIntro {
  width: 60% !important;
  @media screen and (max-width: 1280px) {
    width: auto;
  }
}

.boxDirection {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.bold {
  font-weight: bold;
}
